$green: #007236;
$light-green: #3fd238;
$yellow: #ffd100;
$black: #000000;
$white: #ffffff;
html,
body {
  width: 100%;
  overflow-x: hidden;
}
::-webkit-scrollbar-thumb {
  background: $green;
  border-radius: 10px;
}
::-webkit-scrollbar {
  width: 10px;
}

.secondary-button {
  background-color: $yellow;
  color: $black;
  border: 1px solid $yellow;
  font-size: 18px;
  padding: 10px 20px;
  font-weight: bold;
  transition: 0.4s linear;
  text-decoration: none;
}

.secondary-button:hover {
  background-color: transparent;
  color: $white;
}

.main-button {
  background-color: transparent;
  color: $green;
  border: 1px solid $green;
  font-size: 18px;
  padding: 10px 20px;
  font-weight: bold;
  transition: 0.4s linear;
  text-decoration: none;
}

.main-button:hover {
  background-color: $green;
  color: $white;
}

* {
  margin: 0px;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

header {
  .first-header {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 10px 0px;
    max-width: 1140px;
    margin: auto;
    background-color: $white;

    .social-icons-container {
      display: flex;
      justify-content: flex-end;

      .social-icon {
        padding: 5px;

        i {
          font-size: 20px;
          background-color: #444750;
          color: #fff;
          border-radius: 50%;
          padding: 6px;
          font-size: 15px;
        }
      }
    }

    .language {
      a {
        text-decoration: none;
        color: #444750;
        font-weight: 900;
      }
    }

    .search-bar {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;

      a {
        color: #444750;
        margin-left: 10px;
      }

      .search-active {
        display: block;
      }

      form {
        display: none;

        .search-bar-input {
          padding: 6px 15px;
        }
        .search-bar-input-view {
          transform: translateX(0);
        }

        .search-button {
          background: #007236;
          color: #fff;
          padding: 8px 15px;
          border: none;
        }

        .search-button-view {
          transform: translateX(0);
        }
      }
    }

    div {
      margin: 0px 15px;
    }

    .logo {
      background: #fff;
      padding: 10px 20px;
      position: absolute;
      top: 0;
      left: 12%;
      list-style: none;
      border-radius: 0px 0px 20px 20px;
      box-shadow: 0px 2px 2px #999;
      z-index: 10;
    }
  }

  .desktop-navbar,
  .mobile-navbar {
    background-color: #007236;
    display: block;
    .search-on-mobile {
      display: none;
      border-top: 1px solid #19804a;
      form {
        padding: 10px 20px;
        display: flex;
        width: 100%;
        input {
          padding: 10px;
          background: $green;
          color: $white;
          border: 1px solid $white;
        }
        input[type="text"] {
          width: 75%;
        }
        input[type="submit"] {
          width: 25%;
        }
      }
    }

    ul {
      display: flex;
      list-style: none;
      max-width: 1140px;
      margin: auto;

      .close-menu-button {
        display: none;
      }

      li {
        padding: 10px 0px;

        a {
          color: #fff;
          text-decoration: none;
          padding: 10px 15px;
          i {
            display: none;
          }
        }
        a.menu-item:hover {
          background-color: $white;
          color: $green;
        }
        .sub-menu {
          position: absolute;
          top: 95px;
          z-index: 1;
          width: 100%;
          background: rgba(255, 255, 255, 0.5);
          left: 0;
          display: none;

          ul {
            margin-left: 320px;

            li {
              padding: 10px 0px;
            }
            a {
              color: $black;
            }
            a:hover {
              color: $green;
            }
          }
        }
      }
      .close-menu-button {
        margin-left: auto;
      }

      li.about-item:hover .sub-menu,
      li.services-item:hover .sub-menu,
      li.research-item:hover .sub-menu,
      li.publication-item:hover .sub-menu,
      li.media-item:hover .sub-menu {
        display: block;
      }

      .menu {
        margin-left: 175px;
        display: flex;

        .active-menu-item {
          color: #007236 !important;
          background-color: #fff;
        }
      }
    }
  }
}

.slider {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;

  .slides {
    position: absolute;
    width: 200%;
    height: 100%;
    top: 0;
    left: 0;
    transition: 1s ease;

    .slide {
      width: 50%;
      height: 100%;
      position: relative;
      float: left;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      background-color: rgba($color: #000000, $alpha: 0.5);

      .slide-data {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        text-align: center;
        color: #fff;

        h1 {
          padding: 20px;
          text-transform: uppercase;
          font-weight: bolder;
        }
        p {
          padding: 20px;
          text-transform: uppercase;
        }
        .content {
          height: 100%;
          width: 100%;
          background: rgba(0, 0, 0, 0.5);
          position: absolute;
          top: 0;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          * {
            width: 80%;
          }
          a {
            width: fit-content;
          }
          h1 {
            font-size: 40px;
          }
        }
      }
    }

    .slide::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($color: #000000, $alpha: 0.5);
    }
  }
  .slide:nth-child(2) {
    background-image: url("images/GreenHouseTechnology_0.jpeg");
  }

  .dots {
    position: absolute;
    bottom: 5%;
    width: 100%;
    text-align: center;

    span {
      width: 50px;
      height: 3px;
      border-top: 3px solid #fff;
      display: inline-block;
      margin: 0px 10px;
      transition: 0.1s linear;
      cursor: pointer;
    }
    .dot-active {
      border-top: 6px solid $white;
    }
  }
}
.projects-section {
  background-color: #eee;

  .inner-section {
    align-items: start !important;
  }

  .projects-slider {
    height: 400px;
    .slides {
      height: 80%;
      .slide {
        background-color: transparent !important;

        .slide-data {
          top: 50% !important;
          flex-direction: row;
          display: flex;

          .left-column,
          .right-column {
            width: 50%;
            overflow: hidden;
            img {
              width: 100%;
            }
          }
          .left-column {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;
            padding: 20px 20px 20px 10px;
          }
          .left-column h3,
          .left-column p {
            color: $black;
            text-align: left;
            padding: 10px 0px;
            margin: 0px;
          }
          .right-column:hover img {
            transform: scale(1.1);
            transition: 0.3s ease-in-out;
          }
        }
      }
      .slide:nth-child(2) {
        background-image: none;
      }
      .slide::before {
        background-color: transparent !important;
      }
    }

    .dots {
      .dot-active {
        border-color: $green;
      }
      span {
        border-color: $green;
      }
    }
  }
}

.inner-section {
  margin: 20px auto;
  max-width: 1140px;
  display: flex;
}

div.text-section {
  padding: 50px 0px;
  position: relative;
  div.inner-section {
    flex-direction: column;
    align-items: center;
    h2.section-header {
      font-weight: normal;
      text-transform: uppercase;
      padding: 10px;
    }
    p {
      padding: 10px;
      font-size: 20px;
      text-align: center;
      margin-bottom: 20px;
    }
    div.cards-container {
      display: flex;
      justify-content: space-between;
      width: 100%;
      a.card-link {
        display: flex;
        width: 30%;
        text-decoration: none;
        color: $black;
        div.card {
          background-color: $white;
          width: 100%;
          display: flex;
          flex-direction: column;
          border-bottom: 4px solid $light-green;
          div.card-image {
            width: 100%;
            img {
              width: 100%;
            }
          }
          h3.card-title {
            text-transform: uppercase;
            padding: 15px 0px;
            font-weight: normal;
            font-size: 20px;
          }
          div.date-and-location {
            display: flex;
            flex-direction: column;
            margin: 10px 0px 10px 0px;
            padding: 0px 10px;
          }
        }
      }
      a.card-link:hover {
        div.card {
          border-bottom: 4px solid $green;
        }
        div.card-image {
          overflow: hidden;
          img {
            overflow: hidden;
            transform: scale(1.1);
            transition: transform 0.3s ease;
          }
        }
      }
    }
    form.subscibe-form {
      width: 100%;
      display: flex;
      input {
        padding: 10px;
        font-size: 16px;
        border: 1px solid grey;
        width: 40%;
        margin: 10px;
      }
      input[type="submit"] {
        background-color: $yellow;
        border: none;
        padding: 12px;
        width: 15%;
      }
    }
  }
}

div.parallax-section {
  min-height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax1 {
  background-image: url("images/GreenHouseTechnology_0.jpeg");
}

.parallax2 {
  background-image: url("images/AdobeStock_278001692.jpeg");
}

.events-cards-title {
  border-bottom: 2px solid #eee;
  padding: 15px 10px !important;
}

.events-card {
  border-bottom: 4px solid $yellow !important;
}

.text-section.events-section:before {
  top: 0;
  bottom: 50%;
  background-color: $white;
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  display: block;
}

.text-section.events-section:after {
  top: 50%;
  bottom: 0;
  background-image: url("images/pattern.svg");
  content: "";
  background-color: #f5f5f5;
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  display: block;
}

.events-card:after {
  content: ">";
  background: #fed700;
  font-weight: 900;
  font-size: 15px;
  padding: 5px;
  width: 20px;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  margin: auto 10px 10px auto;
}

.partners-section {
  display: flex;
  justify-content: center;
  padding: 30px;
  max-width: 1140px;
  margin: auto;
  div.partner {
    margin: 10px 20px;
  }
}

.subscribtion-section {
  background-color: #eee;
}

footer {
  background-color: #444750;
  width: 100%;
  padding: 50px 0px 10px 0px;
  div.footer-menu {
    max-width: 1140px;
    margin: auto;
    border-bottom: 1px solid $white;
    ul {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 0px 0px 20px 0px;
      li {
        list-style: none;
        padding: 0px 10px;
        a {
          text-decoration: none;
          font-size: 20px;
          color: $white;
          padding: 10px;
        }
      }
    }
  }
  .footer-rights-and-social-links {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    margin: auto;
    padding: 20px 0px;
    span {
      color: $white;
    }
    .social-icons-container {
      display: flex;
      justify-content: flex-end;

      .social-icon {
        padding: 5px;

        i {
          font-size: 20px;
          background-color: $white;
          color: #444750;
          border-radius: 50%;
          padding: 6px;
          font-size: 15px;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  header {
    .first-header {
      .search-bar {
        display: none;
      }
    }
    .desktop-navbar {
      display: none;
      .search-on-mobile {
        display: block;
      }
      ul {
        padding: 0;
        .menu {
          flex-direction: column;
          padding-top: 80px;
          margin: 0px;
          width: 100%;
          li {
            border-top: 1px solid #19804a;
            display: flex;
            flex-direction: column;

            a {
              padding: 10px 20px;
              width: 100%;
              i {
                color: $white;
                font-size: 20px;
                float: right;
              }
            }
            .sub-menu {
              position: unset;
              background-color: $green;
              ul {
                margin-left: 0;
                display: flex;
                flex-direction: column;
                li {
                  a {
                    color: $white;
                    padding: 10px 30px;
                  }
                }
              }
            }
          }
        }
        .search-on-mobile {
          display: block;
        }
      }
    }
    .mobile-navbar {
      ul {
        .close-menu-button {
          display: block;
        }
      }
    }
  }
  .inner-section {
    max-width: 720px;
    margin-left: auto;
    .cards-container {
      .card-link {
        .card {
          .card-title {
            font-size: 18px !important;
          }
        }
      }
    }
  }
  .projects-section {
    .slider {
      .slides {
        .slide {
          .slide-data {
            .left-column {
              p {
                font-size: 14px;
              }
              a {
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }

  footer {
    .footer-menu {
      ul {
        flex-wrap: wrap;
        max-width: 720px;
        margin: auto;
        li {
          width: 50%;
          padding: 10px 0px !important;
        }
      }
    }
    .footer-rights-and-social-links {
      max-width: 720px;
    }
  }
}

@media (max-width: 480px) {
  .slider {
    .slides {
      .slide {
        .slide-data {
          .content {
            h1 {
              font-size: 25px;
            }
          }
        }
      }
    }
  }

  div.text-section {
    div.inner-section {
      div.cards-container {
        flex-direction: column;
        a.card-link {
          width: 100%;
          padding: 20px;
        }
      }
      form.subscibe-form {
        flex-direction: column;
        padding: 0px 20px;
        align-items: center;
        input {
          padding: 10px;
          font-size: 16px;
          border: 1px solid grey;
          margin: 10px 0px;
          width: 100%;
        }
        input[type="submit"] {
          width: 30%;
        }
      }
    }
  }

  .projects-section {
    .projects-slider {
      .slides {
        .slide {
          .slide-data {
            flex-direction: column-reverse;
            padding: 20px;
            .left-column,
            .right-column {
              width: 100%;
            }
          }
        }
      }
      .dots {
        margin-bottom: -6px;
        bottom: 0;
      }
    }
  }

  div.partners-section {
    flex-direction: column;
    div.partner {
      display: flex;
      justify-content: center;
      padding: 10px;
    }
  }

  footer {
    .footer-rights-and-social-links {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
    }
  }
}
