@import "_general.scss";

footer {
  background-color: #444750;
  width: 100%;
  padding: 50px 0px 10px 0px;
  ul {
    max-width: 1140px;
    margin: auto;
    border-bottom: 1px solid $white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 0px 20px 0px;
    li {
      list-style: none;
      padding: 0px 10px;
      a {
        text-decoration: none;
        font-size: 20px;
        color: $white;
        padding: 10px;

        &:hover {
          color: $green;
        }
      }
    }
  }
  .footer-rights-and-social-links {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1140px;
    margin: auto;
    padding: 20px 0px;
    span {
      color: $white;
      font-size: 16px;
    }
    .social-icons-container {
      display: flex;
      justify-content: flex-end;

      .social-icon {
        padding: 5px;

        i {
          font-size: 20px;
          background-color: $white;
          color: #444750;
          border-radius: 50%;
          padding: 6px;
          font-size: 15px;
        }
      }
    }
  }
}
