@import "_general.scss";
@import "_what-we-do.scss";

.events-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0px;
  position: relative;
  h2 {
    text-transform: uppercase;
    padding: 10px;
    font-size: 1.375rem;
    color: $heading-color;
    font-weight: 400;
  }
  p {
    padding: 10px;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
  }
  .cards-container {
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    .card-link {
      width: 30%;
      display: flex;
      flex-direction: column;
      text-decoration: none;
      color: $black;
      background-color: $white;
      padding: 0px 0px 10px 0px;
      border-bottom: 4px solid $yellow;

      .card-image {
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          transition: 0.2s;
        }

        &:hover {
          img {
            transform: scale(1.1);
            transition: 0.2;
          }
        }
      }
      h3 {
        font-size: 1.375rem;
        color: $heading-color;
        font-weight: 400;
      }
      .date-and-location {
        display: flex;
        flex-direction: column;
        padding: 0px 10px;

        span {
          margin-top: 5px;
          font-size: 14px;
          font-weight: 300;
          i.fa-map-marker-alt {
            margin-right: 6px;
          }
        }
      }
      &::after {
        content: ">";
        background: #fed700;
        font-weight: 900;
        font-size: 15px;
        padding: 5px;
        margin-top: 10px;
        width: 20px;
        border-radius: 50%;
        color: #fff;
        text-align: center;
        margin: auto 10px 10px auto;
      }
    }
  }
  .main-button {
    margin-top: 50px;
    padding: 10px 30px;
  }
  &::before {
    top: 0;
    bottom: 50%;
    background-color: $white;
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    display: block;
  }
  &:after {
    top: 50%;
    bottom: 0;
    background-image: url("../images/pattern.svg");
    content: "";
    background-color: #f5f5f5;
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    display: block;
  }
}
