@import "_general.scss";
.partners-section {
  display: flex;
  justify-content: center;
  padding: 30px;
  max-width: 1140px;
  margin: auto;
  .partner {
    margin: 10px 20px;
  }
}

.subscribtion-section {
  background-color: #f5f5f5;
  .subscibe-form {
    width: 100%;
    display: flex;
    input {
      padding: 10px;
      font-size: 16px;
      border: 1px solid grey;
      width: 40%;
      margin: 10px;
      color: #f5f5f5;
    }
    input[type="submit"] {
      background-color: $yellow;
      border: none;
      padding: 12px;
      width: 30%;
    }
  }
}
