@import "_general.scss";

.projects-section {
  background-color: #eee;

  .inner-section {
    align-items: start !important;
  }

  .projects-slider {
    height: 400px;
    .slides {
      height: 80%;
      .slide {
        background-color: transparent !important;

        .slide-data {
          top: 50% !important;
          flex-direction: row;
          display: flex;

          .left-column,
          .right-column {
            width: 50%;
            overflow: hidden;
            img {
              width: 100%;
              transition: 0.2s;
            }
          }
          .left-column {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;
            padding: 20px 20px 20px 10px;
          }
          .left-column h3,
          .left-column p {
            color: $black;
            text-align: left;
            padding: 10px 0px;
            margin: 0px;
          }
          .right-column:hover img {
            transform: scale(1.1);
            transition: 0.3s ease-in-out;
          }
        }
      }
      .slide:nth-child(2) {
        background-image: none;
      }
      .slide::before {
        background-color: transparent !important;
      }
    }

    .dots {
      .dot-active {
        border-color: $green;
      }
      span {
        border-color: $green;
      }
    }
  }
}
