@import "_general.scss";

.slider {
  position: relative;
  width: 100%;
  height: 610px;
  overflow: hidden;

  .slides {
    position: absolute;
    width: 200%;
    height: 100%;
    top: 0;
    left: 0;
    transition: 1s ease;

    .slide {
      width: 50%;
      height: 100%;
      position: relative;
      float: left;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      background-color: rgba($color: #000000, $alpha: 0.5);

      .slide-data {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        height: 100%;
        text-align: center;
        color: #fff;
        video {
          width: 100%;
        }

        h1 {
          padding: 20px;
          text-transform: uppercase;
          font-weight: bolder;
        }
        p {
          padding: 20px;
          text-transform: uppercase;
        }
        .content {
          height: 100%;
          width: 100%;
          background: rgba(0, 0, 0, 0.5);
          position: absolute;
          top: 0;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          * {
            width: 80%;
            text-align: center;
          }
          a {
            width: fit-content;
            margin-left: 20px;
          }
          h1 {
            font-size: 40px;
          }
        }
      }
    }

    .slide::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($color: #000000, $alpha: 0.5);
    }
  }
  .slide:nth-child(2) {
    background-image: url("../images/GreenHouseTechnology_0.jpeg");
    .slide-data {
      justify-content: center;
      display: flex;
      .content {
        width: 100%;
        justify-content: end;
        align-items: end;
        padding: 100px 150px;
        h1 {
          margin-top: auto;
        }
        * {
          text-align: left;
        }
      }
    }
  }

  .dots {
    position: absolute;
    bottom: 5%;
    width: 100%;
    text-align: center;

    span {
      width: 50px;
      height: 3px;
      border-top: 3px solid #fff;
      display: inline-block;
      margin: 0px 5px;
      transition: 0.1s linear;
      cursor: pointer;
    }
    .dot-active {
      border-top: 8px solid $white;
    }
  }
}
