@import "_general.scss";

.text-section {
  padding: 50px 0px;
  position: relative;
  .inner-section {
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    max-width: 1140px;
    display: flex;
    .section-header {
      font-weight: normal;
      text-transform: uppercase;
      padding: 10px;
      color: $heading-color;
      font-weight: 400;
    }
    p {
      padding: 10px;
      font-size: 20px;
      text-align: center;
      margin-bottom: 20px;
    }
  }
}
