@import "_general.scss";
@import "_header.scss";
@import "_slider.scss";
@import "_text-section.scss";
@import "_parallex.scss";
@import "_projects-slider.scss";
@import "_what-we-do.scss";
@import "_latest-events.scss";
@import "_partners-and-subscribe.scss";
@import "_footer.scss";
@import "_break-points.scss";

* {
  margin: 0px;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}
::-webkit-scrollbar-thumb {
  background: $green;
  border-radius: 10px;
}
::-webkit-scrollbar {
  width: 10px;
}
